<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB35-Ddh8NERB2wjW7i97Q4bcutoqXWSho</string>
	<key>GCM_SENDER_ID</key>
	<string>743244786432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ro.as3.handwrite</string>
	<key>PROJECT_ID</key>
	<string>hand-writing-c1a40</string>
	<key>STORAGE_BUCKET</key>
	<string>hand-writing-c1a40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743244786432:ios:107cb3b2ee1f8381a8a1e5</string>
</dict>
</plist>